<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div> 
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_field :birthday %>
  </div>  
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="form-group">
    <%= f.fields_for @name do |n| %>
      <div>
        <%= n.label :given %><br>
        <%= n.text_field :given %>
      </div>
      <div>
        <%= n.label :surname %><br>
        <%= n.text_field :surname %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
      <% people_array = Person.all.map { |person| [person.full_name, person.id] } %>
      <%= label_tag 'Spouse' %><br>
      <%= select(:person, :spouse, people_array, {include_blank: true} ) %>
  </div>
  <div class="form-group">
    <% people_array = Person.all.map { |person| [person.full_name, person.id] } %>
    <%= label_tag 'Parent 1' %><br>
    <%= select(:person, :parents, people_array, {include_blank: true}, {multiple: true} ) %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
