<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.full_name %>
</p>
<p>
  <strong>Born:</strong>
  <%= @person.birthday %>
</p>
<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<%= console %>